body {
  font-family: "Roboto";
  color: #191919;
}
.inline-container {
  width: 70%;
  margin: auto;
}

header {
  background-color: #ffc017;
  padding-block: 2rem;
  border-bottom: 1px solid #191919;
  position: sticky;
  top: 0;
  z-index: 999;
}

#header-flex {
  display: flex;
  justify-content: space-between;
  align-items: middle;
}

#header-flex img {
  width: 10rem;
}

#header-flex nav ul li {
  display: inline-block;
  list-style: none;
  padding: 1rem;
}

#header-flex nav ul li:last-child {
  border-radius: 4rem;
  background-color: #191919;
  color: white;
}

#hero-section {
  vertical-align: middle;
  position: relative;
  background-color: #ffc017;
  border-bottom: 1px solid #191919;
  height: 380px;
}

#hero-section img {
  position: absolute;
  top: 0;
  right: -0.5rem;
  width: 30rem;
}

#text-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
}

#text-flex h1 {
  font-family: "Spectral";
  font-size: 6rem;
  font-weight: 500;
}

#text-flex p {
  font-size: 1.5rem;
  max-width: 450px;
}

#text-flex button {
  border-radius: 4rem;
  padding: 0.5rem 2rem;
  background-color: #191919;
  color: white;
  font: inherit;
}

section {
  border-bottom: 1px solid #dbd8d8;
  padding: 2.5em;
}

#section-title-flex {
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
}

#section-title-flex h4 {
  padding-left: 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
}

#section-cards-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.section-cards {
  width: 32%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.section-cards h3 {
  font-size: 2rem;
  font-weight: 900;
  color: #dbd8d8;
}

.author-photo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-block: 0.5rem;
}

.author-photo img {
  border-radius: 50%;
  width: 1.5rem;
  padding-right: 0.5rem;
}

.author-photo h5 {
  font-weight: 600;
}

.section-cards-container {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.section-cards-container h4 {
  font-size: 1.2rem;
  font-weight: bold;
}

.section-cards-container p {
  font-size: 0.8rem;
}

#article-flex {
  display: flex;
}
