body {
  font-family: "Roboto";
  color: #191919;
}
.inline-container {
  width: 70%;
  margin: auto;
}

header {
  background-color: #ffc017;
  padding-block: 2rem;
  border-bottom: 1px solid #191919;
}

#header-flex {
  display: flex;
  justify-content: space-between;
  align-items: middle;
}

#header-flex img {
  width: 10rem;
}

#header-flex nav ul li {
  display: inline-block;
  list-style: none;
  padding: 1rem;
}

#header-flex nav ul li:last-child {
  border-radius: 4rem;
  background-color: #191919;
  color: white;
}

#hero-section {
  /* display: flex;
  justify-content: space-between;
  align-items: middle; */
  vertical-align: middle;
  position: relative;
  height: 380px;
  background-color: #ffc017;
}

#hero-section img {
  position: absolute;
  top: 0;
  right: 1rem;
  width: 30rem;
}

#text {
  padding-block: 3rem;
}

#text h1 {
  font-family: "Spectral";
  font-size: 6rem;
}

#text p {
  padding-block: 1.2rem;
  font-size: 1.2rem;
  width: 40%;
}

#text button {
  margin-block: 1rem;
  padding-block: 0.5rem;
  padding-inline: 1.5rem;
  border-radius: 4rem;
  background-color: #191919;
  color: white;
  font: inherit;
}
