body {
  font-family: "Roboto";
  color: #191919;
}
.inline-container {
  width: 70%;
  margin: auto;
}

header {
  background-color: #ffc017;
  padding-block: 2rem;
  border-bottom: 1px solid #191919;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: background-color 0.4s;
}

.scrolled {
  background-color: white;
}

#header-flex {
  display: flex;
  justify-content: space-between;
  align-items: middle;
}

#header-flex img {
  width: 10rem;
}

#header-flex nav ul li {
  display: inline-block;
  list-style: none;
  padding: 1rem;
}

#header-flex nav ul li:last-child {
  border-radius: 4rem;
  background-color: #191919;
  color: white;
  transition: background-color 0.4s;
}

.scrolled-last-child {
  background-color: #1a8917;
}

#hero-section {
  vertical-align: middle;
  position: relative;
  background-color: #ffc017;
  border-bottom: 1px solid #191919;
  height: 380px;
}

#hero-section img {
  position: absolute;
  top: 0;
  right: 0rem;
  width: 30rem;
}

#hero-section button {
  border-style: none;
}

#text-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
}

#text-flex h1 {
  font-family: "Spectral";
  font-size: 6rem;
  font-weight: 500;
}

#text-flex p {
  font-size: 1.5rem;
  max-width: 450px;
}

#text-flex button {
  border-radius: 4rem;
  padding: 0.5rem 2rem;
  background-color: #191919;
  color: white;
  font: inherit;
}

section {
  border-bottom: 1px solid #dbd8d8;
  padding-block: 2.5em;
}

#section-title-flex {
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
}

#section-title-flex h4 {
  padding-left: 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
}

#section-cards-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.section-cards {
  width: 32%;
  display: flex;
  gap: 1rem;
}

.section-cards h3 {
  font-size: 2rem;
  font-weight: 900;
  color: #dbd8d8;
}

.author-photo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-block: 0.5rem;
}

.author-photo img {
  border-radius: 50%;
  width: 1.5rem;
}

.author-photo h5 {
  font-weight: 600;
  padding-left: 0.5rem;
}

.section-cards-container {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.section-cards-container h4 {
  font-size: 1.2rem;
  font-weight: bold;
}

.section-cards-container p {
  font-size: 0.8rem;
}

article {
  padding-block: 2rem;
}

#article-flex {
  display: flex;
  gap: 2rem;
}

.article-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-cards img {
  height: 30%;
  width: 30%;
}

.article-cards-text {
  width: 60%;
}
.article-cards-text .author-photo img {
  width: 1.5rem;
}

.article-cards-text .author-photo h5 {
  font-size: 0.8rem;
}

.article-cards-text h3 {
  font-size: 1.5rem;
  font-weight: 800;
}

.article-cards-text p {
  padding-block: 0.5rem;
  color: #878a8b;
}

.article-cards-text .subtitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #878a8b;
  font-size: 0.8rem;
}

.article-cards-text .subtitle button {
  padding: 0.5rem;
  border-radius: 4rem;
  border-style: none;
  background-color: #e1dede;
  color: #878a8b;
  font-family: inherit;
}

.article-cards-text .subtitle p img {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
}

.article-cards-text .subtitle img {
  width: 1.5rem;
  height: 1.5rem;
}

aside {
  padding-block: 2rem;
  width: 50%;
}

aside h5 {
  text-transform: uppercase;
  font-weight: 700;
}
aside div {
  margin-top: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid#d1d0d0;
}

aside button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: white;
  color: #878a8b;
  border: 1px solid#d1d0d0;
  border-radius: 2px;
}

aside nav {
  padding-block: 2rem;
}
aside nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

aside nav ul li {
  list-style-type: none;
  color: #878a8b;
}

@media screen and (max-width: 575px) {
  header {
    padding: 0.5rem;
  }
  #header-flex {
    justify-content: space-between;
  }
  #header-flex nav ul li:nth-child(-n + 3) {
    display: none;
  }
  .inline-container {
    display: none;
  }

  #hero-section img {
    display: none;
  }
  #text-flex {
    padding-inline: 1rem;
    width: 100%;
  }
}
